@font-face {
    font-family: 'Segoe UI  bold';
    src: url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 50px;
    font-family: 'Segoe UI  bold', sans-serif;
    font-size: 80px;
    color: #464b4f;
}

h3 {
   font-family: 'Segoe UI  bold', sans-serif;
   font-size: 18px;
   color: #464b4f;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 80px 0 50px;
    text-align: center;
    background-color: #23232e;
}

.header-text {
    margin-bottom: 180px;
    color: #fff;
}

.header-text h1 {
   color: #fff;
}

.header-text p {
    max-width: 440px;
    margin: 0 auto;
}

.header-logo {
    margin-bottom: 170px;
}

.main {
    padding: 120px 0;
    background-image: url('../img/bg.png');
}

.main-content {
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
    color: #464b4f;
}

.column {
    font-size: 0;
}

.column-item {
    display: inline-block;
    width: 33%;
    padding-right: 20px;
    vertical-align: top;
 
}

.column-item p {
    color: #888a8b;
}