* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f7f7f7;
	
}

.grid {
	margin: 0 auto;
	width: 80%;
}

.main {
	background-color: #fff;
	margin: 120px 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.title {
	padding-top: 100px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	letter-spacing: -1px;
}


.article p:first-of-type:first-letter {
	line-height: 1;
	margin-right: 10px; 
  	float: left;
	font-family: 'Playfair Display', serif;
	font-size: 110px;
}


.article p {
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
}

.article p:last-of-type {
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	line-height: 34px;
}

button {
	margin-top: 25px;
	margin-bottom: 120px;
	padding: 25px 75px;
	background-color: transparent;
	border: 2px solid #eaa258;
	color: #eaa258;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 10px;
}

button:hover {
	cursor: pointer;
	border: 2px solid #fb8103;
	color: #fb8103;
}

button:action {
	cursor: pointer;
	border: 2px solid #eaa258;
	background-color: #ede0d3;
}