* {
	margin: 0;
	padding: 0;
	transition: all .2s ease-in;
}

body { 
	border-width:10px 0 0;
	font-family: 'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
	background-color: #3b3f45;
	border: 20px solid #fff; 
} 

/*Header*/
.header {
	height: 120px;
	color: #eb7e7f;
	background-color: #4a4f56;
	font-size: 30px;
	text-align: center;
	margin-bottom: 35px;
}
/*End of header*/

/*Main content*/
.main {
	display: block;
	margin: 35px auto;
    	height: 384px;
	width: 800px;
}

li {
	line-height: 40px;
	color: #fff;
	font-size: 24px;
	list-style: none;
}

li:nth-child(odd){
	background-color: #88839e;
}

li:nth-child(even){
	background-color: #7a7593;
}

.list label {
	display: block;
	padding: 10px;
	cursor: pointer;
	color: #FFF;
	font-size: 20px;
}

/*наведение*/
.list label:hover { 
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #625E77;
}

/*Клик*/
.list label:active{
	background-color: #EB7E7F;
}

.list input[type="checkbox"] {
	
	position: relative;
	top: 3px;
	cursor: pointer;
	margin: 0 15px 0 10px;
}

/*ычеркивание из списка*/
.list input[type="checkbox"]:checked  ~span {
	color: #A49EB2;
	text-decoration: line-through;
}

/*Комент в скобках*/
.coment {
	font-size: 50%;
	color: #C5BDC3;
}

.coment:before {
	content: " ( ";
}

.coment:after {
	content: " )";
}

.coment:empty:before,
.coment:empty:after {
	content: "";
}

/*Footer*/
.footer {
	margin: 0 auto;
	width: 800px;
	height: 55px;
	margin-bottom: 265px;
	text-align: center;
	color: #eb7e7f;
	background-color: #4a4f56;
	font-size: 30px;
}