@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.woff2') format('woff2'),
        url('../fonts/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
    color: #303030;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

.grid {
    margin: 0 auto;
    width: 1200px;
}

/*Header*/

.header {
    padding: 50px 0;
    font-size: 0;
    
}

.header-logo, 
.header-nav {
    display: inline-block;
    vertical-align: middle;
}

.header-nav a.icon {
    font-family: 'FontAwesome';
}

.header-logo {
    max-width: 273px;
    color: #303030;
    font-size: 48px;
    font-family: 'Roboto Bk';
    letter-spacing: 1px;
}

.header-nav {
    width: calc( 100% - 275px );
}

.header-nav ul {
    font-size: 16px;
    text-align: right; 
}

.header-nav li {
    padding: 0 25px;
    display: inline-block;
   
}

.header-nav li:first-child {
    padding-left: 0;
}

.header-nav li:last-child {
    padding-right: 0;
}

.header-nav a:hover {
    color: #e2232f;
}

.header-nav a {
    color: #303;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/*End of header*/

/*Slider*/

.slider {
    padding-top: 50px;
}

.discription {
    text-align: right;
    max-width: 51%;
    font-size: 24px;
    line-height: 1.5;
}

.discription,
.title-image {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    color: #303030;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text {
    padding: 30px 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
}
.title-image {
	padding-left: 50px;
    max-width: 49%;
    text-align: center;
}

.discription a {
    font-family: 'Roboto Bk';
    color: #e10011;
}

.discription a:hover {
    text-decoration: underline;
}

.figure {
    padding: 90px 100px;
    text-align: center;
}

.figure li {
    margin-left: 5px;
    padding: 0 5px;
}

.circle:hover {
    background: #e10011;
    cursor: pointer;
}

.active {
    background: #e10011;
    display: inline-block;
    width: 11px; height: 11px;
    border-radius: 50%;
    cursor: pointer;
}

.circle {
    display: inline-block;
    width: 11px; height: 11px;
    background: #303030;
    border-radius: 50%;
}


/*end of slider*/

/*Main*/

.gallery {
    background-color: #fff;
}

.clear {
    clear: both;
}

.main-title {
    margin: 0 auto;
    padding-top: 115px;
    text-align: center;
    max-width: 550px;
}

.main-title p {
    font-size: 18px;
}

.row-1 {
    margin-top: 70px;
}

.row-2 {
    padding-bottom: 50px;
}


.product-box-row-2 {
    float: left;
    width: 30%;
}
 
.product-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.product {
    float: left;
    margin: 20px;
    
}

.product:first-child {
    margin-left: 70px;
}

.product-item{
    position: relative;
    display: block;
    overflow: hidden;
    font-family: 'Roboto Bk';
    font-size: 30px;
    border-radius: 10px;
}


.product-item-text {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: left;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #e10011;
}

.product-item-box{
   
   margin-top: 260px;
   margin-left: 40px;
}


.product-item:hover .product-item-text{
    display: block;

}

.product-item-title {
    display: block;
}

.product-item-discriplion {
    padding-bottom: 5px;
    border-bottom: 5px solid #fff;
    
}

.productman-news {
    margin-top: 95px;
    text-align: center;
}

.productman-news-title {
    margin: auto;
    width: 40%;
}

.productman-news-title h2 {
    margin-bottom: 10px;
}

.ts-email {
    margin: 0 auto;
    width: 60%;
    font-size: 0;
}

.input {
    display: inline-block;
    width: 75%;
    border: none;
    padding: 20px 30px;
    background-color: #FFF;
    outline: none;
    vertical-align: top;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #979797;
}

[type=text]:placeholder:before {
    content: '';
    font-family: 'FontAwesome';
}
    

.ts-btn:hover{
cursor: pointer;

}

.ts-btn {
display: inline-block;
width: 25%;
padding: 19px;
border: 1px solid #E10011;
outline: none;
vertical-align: top;
background-color: #E10011;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
font-family: "Roboto", sans-serif;
font-weight: 900;
color: #ffffff;
font-size: 18px;
}

.ts-btn:after {
    content: ' ';
    font-family: 'FontAwesome';

}


.productman-news-for {
    margin: 20px 0;
}


/*Endf of main*/

/*footer*/
.footer {
   text-align: center;
   color: #979797;
}

.footer-soc-box {
    position: relative;
     margin: auto;
}

.footer-soc-box a {
    display: block;
    display: inline-block;
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 34px;
    font-family: 'FontAwesome';
    background-color: #fff;
    border-radius: 50%;
    color: #979797;
}

.footer-fb,
.footer-tw,
.footer-yb,
.footer-me {
    position: absolute;
    top: 25px;
    width: 100%;
}

.footer-fb {
    left: -142px;
}

.footer-tw {
    left: -45px;
}

.footer-yb {
    left: 47px;
}

.footer-me {
   left: 142px;
}

.copyright {
    margin: 20px 0;
}

.copyright a {
    text-decoration: none;
    color: #303030;
}


