* {
	margin: 0;
	padding: 0;
	transition: all .2s ease-in;
}
body {
	border: 25px solid #fff;
	background-color: #3b3f45;
	font-family: 'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
	font-size: 30px;
}

.header {
	background-color: #4a4f56;
	color: #eb7e7f;
	text-align: center;
	padding: 25px 0;
	margin-bottom: 50px;
}
h1 {
	margin-bottom: 15px;
}

.grid {
	margin: 0 auto;
	width: 800px;
}

.main-list {
	list-style: none;
}

.main-list li {
	background-color: #7a7593;
}

.main-list li:last-child {
	margin: 50px 0 100px 0;
	color: transparent; 
}

.main-list li:nth-child(even) {
	background-color: #88839e;
}

.main-form-label {
	display: block;
	padding: 20px;
	color: #fff;
} 

.main-form-label input,
.main-form-label span {
	vertical-align: middle;
}

.main-form-label input {
	margin-right: 10px; 
}

.main-form-label small {
	font-size: 75%;
}

.main-form-label small:before {
	content: '('
}

.main-form-label small:after {
	content: ')'
}

.main-form-label:hover {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #625E77;
}
.main-form-label:active {
	background-color: #EB7E7F;
}

.main-form-label input:checked + span {
	text-decoration: line-through;
}

.main-form-bnd {
	display: block;
	width: 100%;
	padding: 40px;
	border: none;
	font-size: 30px;
	font-family:  'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
	font-weight: 700;
	background-color: #4a4f56;
	color: #eb7e7f;
	cursor: pointer;
}

.main-form-bnd:hover {
	text-decoration: underline;

}

.main-form-bnd:active {
	background-color: #fff;
}