* {
	 margin: 0;
	 padding: 0;
	 transition: all .1s ease-in;
	 box-sizing: border-box;
}


Body {
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	font-size: 20px;
	border: 20px solid #2b81ac;
	background-color: #3399cc;
	color: #fff;
	height: 100%;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	width: 800px;
	margin: 0 auto;

}


.grid {
	width: 800px;
	margin: 0 auto;

}


.main-list {
	border: 5px solid #fff;
	list-style: none;
	font-size: 0;

}

a {
	text-decoration: none;
	color: #fff;
}

.icon {
	padding-top: 10px;
	opacity: 0.75;
}

ul {
	background-color: #fff;
}

ul:hover li{
	opacity: 0.5;

}

li {
	text-align: center;
	border: 5px solid #fff;
	display: inline-block;
	font-size: 20px;
	height: 120px;
	padding-top: 30px;

}

ul li:hover {
	opacity: 1;
}


li:nth-child(1){
	width: 50%;
}

li:nth-child(n+2) {
	width: 25%;
}

li:nth-child(n+9) {
	width: 50%;
}

li:nth-child(n+10) {
	width: 25%;
}

li:last-child {
	width: 100%;
}

.lisbon {

	background-color: #3399cc;
}

.paris {
	background-color: #33cccc;
}

.belgrade {
	background-color: #996699;

}

.moskow{
	background-color: #c24747;
}

.tel-aviv {
	background-color: #e2674a;
}

.cair {
	background-color: #ffcc66;
}

.new-york {
	background-color: #99cc99;
}

.new-delhi {
	background-color: #669999;
}

.san-francisco {
	background-color: #cc6699;
}

.tokyo {
	background-color: #339966;
}

.sydney {
	background-color: #666699;
}

.footer {
	padding-top: 20px;
	padding-bottom: 100px;
	width: 800px;
	margin: 0 auto;
}
